* {
	box-sizing: border-box;
}

body {
	/* font-size: clamp(12px, 2vw, 24px); */
	/* font-size: 1.2rem; */
	margin: 0;

	/* font-family: "serif"; */
	background: black;
	color: white;
}


/* @import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
} */


/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;f
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

p {
	/* font-family: sans-serif; */
	/* font-size: 36px; */
	margin: 0.5rem 0rem;
}

body {
	background: black;
	backdrop-filter: blur(5px) brightness(60%);
	-webkit-backdrop-filter: blur(5px) brightness(60%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;

}


#cmnText {
	font-size: 4rem;
}

#pinyinText {
	/* font-size: 1.8rem; */
	font-size: calc(0.4rem + 1vw);
}

#enText {
	/* font-size: 1.6rem; */
	font-size: calc(0.8rem + 1vw);
}

#ruby {
	font-size: calc(2.2rem + 4vw);
	font-weight: 900;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: baseline;

	/* offset period */
	/* position: relative; */
	/* left: 0.5ch; */
}

#ruby rt {
	font-weight: 100;
	font-size: 25%;
	position: relative;
	top: -1rem;
}

ruby {
	display: inline-flex;
	flex-direction: column-reverse;
}

rb,
rt {
	display: inline;
	line-height: 1;
	text-align: center;
}

button {
	/* For your border-radius: */
	border-radius: 10rem;
	/* This will offer the illusion that it's adopting the
  background beneath it as its own but lightening it --
  almost like IOS. */
	background-color: #fff0;
	border: 1px solid #fff;
	color: #fff;
	opacity: 0.6;

	padding: 0.5rem 1rem;
	/* font-family: "SongTi SC", "Calisto MT", serif, "KaiTi", "KaiTi SC"; */
	/* font-size: clamp(12px, 2vw, 24px); */

	outline: 0;
	/* border: 0; */

	/* font-size: calc(0.4rem + 0.4vw); */
}

/* Then maybe something like */
button:hover {
	background: #222;
	cursor: pointer;
	opacity: 0.4;
}

.main-ruby {
	margin: 1rem 0;
}

/* @font-face {
	font-family: 'HanyiSentyTang';
	src: url('/fonts/HanyiSentyTang.eot');
	src: url('/fonts/HanyiSentyTang.eot?#iefix') format('embedded-opentype'),
			url('/fonts/HanyiSentyTang.woff2') format('woff2'),
			url('/fonts/HanyiSentyTang.woff') format('woff'),
			url('/fonts/HanyiSentyTang.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
} */